// Placeholder to allow overriding predefined variables smoothly.

.simple-highlight {
    color: white;
    background-color: brown;
    padding: 0.1em 0.2em;
    font-size: large;
    text-align: center;
    justify-self: center;
  }
  


.centre-h2 {
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
    font: $base-font-family-acme;
    justify-self: center;
    font-weight: bold;
  }